img {
  height: 160px;
  
}
.description{
  font-size:20px;
}

#cook-time {
  font-weight: bold;
  
}
ul.ingredients {
  list-style: square;
}

p.time {
  color: gray;
}
.external-link {
  color: purple;
}
h1,h2,p,li {
  font-family: Helvetica;
}
